@page
@model ASP_RazorContoso.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Student Details";
}
<h1>@Model.Student.FullName Module Rusult</h1>
<h3>Student Details</h3>

<div>
    @*<h4>Student</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.EnrollmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.EnrollmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Enrollments)
        </dt>
        <dd class="col-sm-5">
            <table class="table table-responsive table-hover table-bordered">
                <tr class="bg-info">
                    <th>Course Code</th>
                    <th>Course Title</th>
                    <th>Grade</th>
                </tr>
                @foreach (var item in Model.Student.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.Course.CourseCode)
                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div class="btn-group-sm">
    <a class="btn btn-primary m-md-1" asp-page="./Edit" asp-route-id="@Model.Student?.ID">Edit</a> 
    <a class="btn btn-success m-md-1" asp-page="./Index">Back to List</a>
</div>
